/* Background image */
.photo1 {
    background-image: url("background10.png");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the profile container */
.photo {
    border: 3px solid white; /* Adds a light gray border */
    display: inline-block; /* Ensures the border wraps around the content */
    padding: 6px; /* Optional padding between the image and border */
    box-sizing: border-box; /* Ensures the padding does not affect the width/height */
    text-align: center; /* Centers the content inside the photo div */
    padding:60;
}

/* Round image style */
.photo img {
    border-radius: 70%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Styling for name and profession */
.photo div {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.photo .name {
	 color: white;
    font-weight: bold;
    font-size: 40px;
}

.photo .profession {
	 color: white;
    font-style: italic;
}



.career-goal {
    padding: 50px;
	padding-left:90px;
    color: black;
    font-family: Arial, sans-serif;
}

.description p {
    text-align: center;
    color: white;
    margin: 10px 0;
}

.divider {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
}

.info {
    gap: 20px; /* Space between items */
    justify-content: space-between;
    color: white;
}

.about-me{
	font-weight:bold;
	color:rgb(65,105,225);
	font-size: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
	font-family: Arial;
}

.aboutme1{
	padding-left:70px;
	padding-top: 60px;
	display: flex; 
	gap: 40px;
}

.aboutme2{
	padding-left:70px;
	padding-top: 10px;
	display: flex; 
	gap: 40px;
	align-items: center;
}

.projet{
	padding-top:20px;
	height:400px;
	width:400px;
	display:flex;
	gap:60px;
}

.projet1{
	height:400px;
	width:400px;
	padding-top:20px;
	display:flex;
	gap:60px;
}


h2 {
  color: #4B0082;
  margin-bottom: 20px;
}

h3 {
  color: #4169E1;
  margin: 10px 0 5px;
}

h4 {
  color: #333;
  margin: 0 0 10px;
  font-weight: normal;
}

p {
  color: #555;
  line-height: 1.6;
}


.container {
  display: flex;
  justify-content: space-between;
  background-color: #E8E8E8; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 30px auto;
}


.section {
  width: 48%;
}

.item {
  margin-bottom: 20px;
}


